 @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

 :root {
    --orange:#ff6b00;
    --dark: #262626;
    --yellow: #ffc42e;
    --nav-color: #fff5ed;
    --bg-color:#f0f5f9;
    --info:#222121;
}

@font-face {
    font-family: "Pacifico", cursive;
    color: var(--yellow);
    src: url();
}

a{
    text-decoration: none;
}

h3{
    font-family: pacifico;
    color: var(--yellow);
}

h4{
    color: #fff;
}

 /* Desktop, Tablet, and Mobile */
 .container{
    width: 80%px;
    margin: 0px auto;
 }


 * {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
a{
    text-decoration: none;
}

.packages{
    background-color: var(--bg-color);
}

.button{
    padding: 3px 13px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    border: 1px solid rgba(255, 107, 0, 0.20);
    background: rgba(255, 107, 0, 0.05);
    color: #ff6b00;
    text-decoration: none;

    &:hover{
        color: #fff;
        background-color: #ff6b00;
    }
}

.fa-calendar-days, 
.fa-money-bill,
.fa-money-check,
.fa-money-bill-transfer,
.fa-shield-halved
{
    color: #ff6b00;
}

.fa-phone{
    color: #ff6b00;
}

.fa-envelope{
    color: #ff6b00;
}

.fa-clock{
    color: #ff6b00;
}

.fa-magnifying-glass{
    color: #ff6b00;
}

.fa-user{
    color: #ff6b00;
}

/* .fa-magnifying-glass{
    color: #ff6b00;
          &:hover{
             color: white;
         }
} */

.searching{
    padding: 1px;
    width: 18px;
    height: 18px;
    border: 0px;
    color:var(--orange);

    &:hover{
        color:white;
        background-color: var(--orange);
    }
}
 
.info{
    background-color: var(--info);
    
    display: flex;
    align-items: center;

    .container{
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .clock{
            display: flex;
            
            
        }

        .social{
            display: flex;
        }
    }
}

#call{
    .container{
        display: flex;
        justify-content: space-between;
        padding: 5px;
    }

    .phone{
        display: flex;
        align-items: center;
        margin: 0px 20px;
    }
}


header{
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--nav-color);

        .user{margin: 0px 50px;}
    }

    ul{
        display: flex;
        list-style-type: none;
        padding: 30px 30px 30px 30px;
        align-items: center;
        

        li{
            margin: 0px 20px;
            position: relative;

            ul{
                background-color: var(--orange);
                padding: 15px 0px;
                position: absolute;
                display: block;
                font-size: 14px;
                text-transform: uppercase;
                top: 30px;

                li{width: 150px;
                    padding: 5px;
                    
                    
                    a{margin: 0px;
                        color: #fff;
                        &:hover{
                            background-color: #fff;
                            color:var(--orange);
                        }
                    }
                }
            }
            &:hover ul {
                display: block;
            }
        }

        a{
            color: var(--info);
            display:inline-block;
            margin: 8px;
            &:hover{
                color: var(--orange);
                  } 
         }
     }

    .submenu{
        display: none;
        
    }
}

#rezervimi{
    .container{
        display: flex;
        justify-content: space-around;
        margin: 20px auto;
    }

}


#aboutus{
    background-color: #e8ecf0;
    .container{
        padding: 50px 0px;
        display: flex;
        justify-content: center;


        .vendet{
            
            img{
                height: 200px;
                width: 200px;
            }
        }
        .foto1{
            img{
            border-radius: 50%;
            
        }
        }
        .aboutus{
        .international{
            .foto1{
                display: flex;
                
            }
        }    
            }
        
        .center{
            text-align: center;
        }
        
    .aboutus{
        p{
        font-family: "Quicksand", sans-serif;
    } 
    }
    }
}



.methods{ 
    margin: 30px 0px;

    .container{ 
        .center{text-align: center;}
        p{
            font-family: "Quicksand", sans-serif;
        }

        }
            
       .pagesat{
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                align-items: center;
                margin: 70px 0px;
                padding: 20px;

       .flexible,
       .nofee,
       .deposit,
       .pay{
        padding: 20px;
      }
                
              }
            }

.packages{
    padding: 40px;
    .container{
        .center{
            text-align: center;
        }
        .vendet{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            .india2{
            background-color: #fff;
            margin: 15px 0px;
            border-radius: 10px;
                   }
              }
    }
        
        ul{
            display: flex;
            justify-content: space-between;
            list-style-type: none;
            margin: 10px 0px;
            li{
                gap: 10px;
                a{
                    margin: 0px;
                    color: var(--orange);
                    background-color: #fff;
                    font-size: 20px;
                    padding: 4px;
                    border-radius: 3px;
                    gap: 10px;
                    
                    &:hover{
                        background-color:var(--orange);
                        color: white;
                    }}
                    
                }
            }
        }
        .vendet{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 30px;
            
            .ora{
                display: flex;
                margin: 2px;
                gap: 10px;
                
                h3{
                    font-family: "Open Sans", sans-serif;
                    color:#2596be;
                  }
                }

            .madhesia{
                width: 250px;
                height: 250px;
                margin: 15px;
                border-radius: 10px;
                
                
                &:hover{
                    transform: scale(1.1);
            }
            }
            
        }
    

.top{
    padding-top: 80px;
    .container{
        .center{text-align: center;}
       
        .vendett{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 20px;
            padding-top: 20px;

            .america{
                h3{
                    align-items: center;
                }
            }
        }
        
        
        img{
            width: 390px;
            height: 300px;
            border-radius: 10px;
        }
    }
}

.blog{
    .container{
        .center{text-align: center;}
        margin-top: 50px;
        .blogee{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 25px;

            .travelblog{
                display: flex;
                align-items: center;
                
            }
            img{
                width: 390px;
                height: 300px;
                border-radius: 10px;
            }
        }
        
    }
}

footer{
    background-color: var(--dark);
    padding-top: 40px;
    padding-bottom: 80px;
    p,h4,a{
        color: white;
    }

  .container{
      display: flex;
      justify-content: space-between;
      font-family: "Quicksand", sans-serif;
      
      .col{
        text-decoration: none;
      }
      
     }
     .projects{
        display: grid;
        grid-template-columns: repeat(3, 2fr);
        gap: 8px;
        
     }

    img{
        width: 100px;
        height: 100px;
        border-radius: 5px;
    }

    .social{
        margin-top: 40px;
        display: flex;
        justify-content: space-around;
        

        a{
            font-family: pacifico;
            
        }
        }
    }


/* Mobile */
 @media screen and (max-width: 768px) {

.container{
    width: 70%;
}

.info{
    .container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        h4{
            font-size: 10px;
        }
    }
}

#call{
    .container{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        .phone{
            display: flex;
            justify-content: space-around;
            h3{
                font-size: 10px;
            }
        }
        
    }
}

header{
    nav{
        display: none;
    }
}

#rezervimi{
    .container{
display: flex;
justify-content:space-evenly ;

        /* display: grid;
        grid-template-columns: repeat(4, 1fr); */
    }
}

.packages{
    .container{
        .place{
            ul{
                display: none;
            }
        }
        .vendet{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

.top{
    .container{
        margin-left: -1px;
        
        .vendett{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }
    }
}



#aboutus{
    .container{
        width: 100%;
        .aboutus{
    }
        .vendet{
            img{
                display: none;
        }
    }
}
}


.methods{
    .container{
        width: 80%;
           .pagesat{
                    display: grid;
                   grid-template-columns: repeat(2, 2fr);
        }
    }
}

.blog{
    .container{
        .blogee{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            img{
                width: 150px;
                height: 150px;
            }

        }
    }
}

footer{
    .container{
        padding-left: 10px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        .projects{
            display: grid;
            grid-template-columns: repeat(2,1fr);
        }

        .social{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

}



/* Tabelet */
@media screen and (min-width: 768px) {

.info{
    .container{
        display: flex;
        justify-content: space-between;
    }
}

#aboutus{
    .container{
        width: 90%;
        display: flex;
        justify-content: space-around;

        .aboutus{
            display: grid;
                grid-template-columns: repeat(1,2fr);
            }
        }
        .vendet{
            display: grid;
            grid-template-columns: repeat(2,2fr);
        }
    }


.packages{
    .container{
        width: 90%;
        .vendet{
            width: 90%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
               }
             }
}

.top{
    .container{
            width: 90%;
            
        .vendett{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
                }
             }
   }

.blog{
    .container{ 
        width: 80%;
        align-items: center;

        .blogee{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        .blog1{
            
              }
              }
             }
    }

footer{
    .container{
        padding: 40px;
              }
      }
    }



/* Desktop */
@media screen and (min-width: 1350px) {

    .container{
        width: 1200px; 
    }

    .packages{
        .container{
            .vendet{
                display: grid;
                grid-template-columns: repeat(4, 1fr);
            }
        }
    }


    .top{
        .container{
            .vendett{
                display: grid;
                grid-template-columns: repeat(3,1fr);
            }
        }
    }

    .blog{
        .container{
            .blogee{
                display: grid;
                grid-template-columns: repeat(3,1fr);
            }
        }
    }

    section,
    footer {    
    }
}